img {
    max-width: 100%;
    height: auto;
}
/*en tête*/
header >.titre-index {
    display: block;
    background-color: #F2F2F2;
    margin: 0 -20px 0 -20px;
    padding: 30px 0 50px 0;
    border-radius: 0 0 30px 0;
}

/*bandeau titres*/
.bandeau-titre {
    height: 94px;
    margin: 10px -20px 0 -20px;
    background-color: #F2F2F2;
}
.bandeau {
    margin-top: -8rem;
}
/*Traits sous les titres*/
#trait-titre {
    position: relative;
    display: block;
    border-top: 1px solid #707070;
    width: 241px;
    left: 10.7rem;
    margin-bottom: 20px;
}
/*Titres secondaires*/
h2 {
    display: block;
    padding: 0 4.55rem;
}
/*footer*/
footer {
    background-color: #038C65;
    margin: 0 -20px;
    padding: 10px 80px 14px 14px;
}
footer>img[src^="./img/icones/Logo_MMI_small_.svg"]{
    width: 50%;
    height: 50%;
    margin: -10px 0 -20px 0;
}
footer > p {
    margin-top: 4px;
}
.bandeau-navigation {
    background-color: #68BAA3;
    margin: 0 -20px;
    height: 9rem;
}

.bandeau-navigation > img {
    width: 25%;
    height: auto;
}
/*Articles scientifiques*/
.articles-sciences {
    display: block;
    background-color: #68BAA3;
    border-radius: 0 10px 10px 0;
    margin: 20px -4px 20px -20px;
    padding: 8px 10px 8px 20px;
}

/*Lire la suite*/
.lire-suite{
    position: relative;
    display: block;
    background-color: #014029;
    border-radius: 10px;
    color: white;
    width: auto;
    height: 50px;
    line-height: 50px;
    padding-left: 1.8rem;
    margin-bottom: 4rem;
    margin-top: 5rem;
}
.lire-suite::after {
    content: url("icones-css/arrow-right.svg");
    color: #038C65;
    font-size: 4rem;
    position: absolute;
    width: 8rem;
    transform: rotate(90deg);
    right: 3rem;
    top: -2.1rem;
}
/*Autres projets*/
#projets li {
    display: block;
    position: relative;
    background-color: #F2F2F2;
    text-align: center;
    margin: 0 -5px -20px -45px;
    padding-left: 33%;

}
#projets li::before {
    content: url("icones-css/question-solid.svg");
    position: absolute;
    width: 15%;
    left: 20px;
    top: 10px;
}
#projets li:last-of-type {
    margin-bottom: 4.5rem;
}
/*blocs images*/

.text-img{
    width: 100%;
    position: relative;
    margin-top: -8rem;
    background-color: rgba(255,255,255,0.8);
    color: #014029;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    padding-bottom: 0.4rem;
}
.text-img-exception{
    width: 100%;
    position: relative;
    margin-top: -8.2rem;
    background-color: rgba(255,255,255,0.8);
    color: #014029;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    padding-bottom: 0.6rem;
}
.text-img h3{
    text-align: left;
    padding: 10px 0 10px 10px;
}
.text-img-exception {
    text-align: left;
    padding-left: 10px;
}
/*mises en page galerie*/
main>ul, main>article>ul {
    padding-left: 0;
}
main>ul>li, main>article>ul>li {
    display: block;
}
main>article>ul>li {
    background-color: #F2F2F2;
    margin: 40px 40px;
}
img[src="./img/photos/Géraud%20brun.jpg"]{
    width: 269px;
    height: auto;
}
.films > img {
    width: 124px;
    height: 166px;
    display: inline-block;
    padding: 2rem;
    vertical-align: center;
}
.trait-mise-en-page {
    position: relative;
    display: block;
    border-top: 1px solid #707070;
    width: 269px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
/*à propos*/
.send{
    position: relative;
    display: block;
    background-color: #707070;
    border-radius: 10px;
    color: white;
    width: 60%;
    height: 50px;
    line-height: 50px;
    padding-left: 1.8rem;
    margin-bottom: 10rem;
    margin-top: 3rem;
    left: 100px;
}
.send::after {
    content: url("icones-css/arrow-grey.svg");
    fill: white;
    font-size: 4rem;
    position: absolute;
    width: 8rem;
    transform: rotate(90deg);
    right: 3rem;
    top: -2.1rem;
}