img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #F2F2F2;
    margin: 0 -20px;
    padding: 10px 80px 14px 14px;
}
footer>img[src^="./img/icones/MMI_dut_standard.svg"]{
    width: 50%;
    height: 50%;
}
.bandeau-navigation {
    background-color: #68BAA3;
    margin: 0 -20px;
    height: 9rem;
}

.bandeau-navigation > img {
    width: 25%;
    height: auto;
}