@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

html{
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0 13px;
}
h1{
    font-family: 'Roboto Mono Light', monospace;
    font-weight: lighter;
    color: #001DB1;
    font-size: 4.2rem;
    text-align: right;
}
body > p {
    text-indent: 1.5rem;
}
.titre-index{
    text-align: center;
    text-transform: capitalize;
}
span {
    color: #038C65;
}
h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    text-align: center;
    color: #014029;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
footer {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #fff;
}
footer>a {
    color: darkgrey;
}
footer>a:hover {
    text-decoration: underline;
}
/*Lire la suite*/
body > a > h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 2.4rem;
}